{% extends "base.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'client/user-scenario.css' %}" />

{% endblock %} {% block title %} Input Scenario {% endblock %} {% block content%}
<div class="Gui-user">
  <div class="title-input">
    <h1 class="Teks-judul">Project Title</h1>
    <button
      type="button"
      class="ms-4"
      data-bs-toggle="modal"
      data-bs-target="#Rules"
    >
      <i data-feather="help-circle"></i>
    </button>
  </div>
  <div class="output-user-story">
    <h5>User Stories :</h5>
    <div class="container-user-story">
      <a class="numof-container" href="{% url 'client:output-scenario' %}">1</a>
      <div class="as-can-for">
        <div class="grid-as-can-for-1"><p>As Programmer</p></div>
        <div class="grid-as-can-for"><p>I'm able to find my smartphone</p></div>
        <div class="grid-as-can-for-2"><p>For my daily activity</p></div>
      </div>
    </div>
    <div class="input-scenario"><h5>Input User Story Scenario :</h5></div>
    <div class="form">
      <div class="form-paragraf">
        <textarea
          type="text"
          class="form-control"
          id="inputParagraf"
          placeholder="Ketik paragraf"
        ></textarea>
      </div>
      <div class="submit-button">
        <button class="btn-submit-button" type="button" onclick="OutputUser()">
          <a href="#"> Generate </a>
        </button>
      </div>
    </div>

    <div class="scenario-content hidden" id="scenario-container">
      <div class="scenario">
        <h5>User Story Scenario :</h5>
        <div class="container-scenario">
          <div class="type-scenario"><p>GIVEN</p></div>
          <div class="desc-scenario"><p>I'm a software engineer</p></div>
        </div>
        <div class="container-scenario">
          <div class="type-scenario"><p>AND</p></div>
          <div class="desc-scenario"><p>I'm a data scientist</p></div>
        </div>
        <div class="container-scenario">
          <div class="type-scenario">WHEN</div>
          <div class="desc-scenario"><p>I withdraw from this app</p></div>
        </div>
        <div class="container-scenario">
          <div class="type-scenario"><p>THEN</p></div>
          <div class="desc-scenario"><p>My bank account increase</p></div>
        </div>
        <div class="container-scenario">
          <div class="type-scenario"><p>AND</p></div>
          <div class="desc-scenario"><p>My wallet in this app decrease</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="Rules" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">User Story Scenario Rules</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Lorem Cillum cillum magna occaecat cupidatat esse consequat sunt ut eiusmod id laboris Lorem amet ullamco.</li>
          <li>Lorem Cillum cillum magna occaecat cupidatat esse consequat sunt ut eiusmod id laboris Lorem amet ullamco.</li>
          <li>Lorem Cillum cillum magna occaecat cupidatat esse consequat sunt ut eiusmod id laboris Lorem amet ullamco.</li>
          <li>Lorem Cillum cillum magna occaecat cupidatat esse consequat sunt ut eiusmod id laboris Lorem amet ullamco.</li>
          <li>Lorem Cillum cillum magna occaecat cupidatat esse consequat sunt ut eiusmod id laboris Lorem amet ullamco.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  feather.replace()

  const userStoryContainer = document.getElementById("scenario-container");
  const generateButton = document.querySelector(".btn-submit-button");

  generateButton.addEventListener("click", () => {
    userStoryContainer.classList.toggle("hidden");
  });
</script>

{% endblock %}
