{% extends "base.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'client/user-scenario.css' %}" />

{% endblock %} {% block title %} Input User {% endblock %} {% block content %}
<div class="Gui-user">
  <div class="head-judul">
    <h1 class="Teks-judul">{{ title }}</h1>
    <a
      class="ms-2"
      data-bs-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      <span
        ><img title="Rules" style="height:2rem ;" src={% static 'icons/help-circle.svg' %}></span>
    </a>
  </div>

  <div class="collapse my-3 border border-dark rounded" id="collapseExample">
    <div class="card card-body">
      <h5 class="collapse-title">Rules Scenario</h5>
      <ol class="rules-list">
        <li class="item-rules">
          Precondition at the beginning of the sentence
        </li>
        <li class="item-rules">If there is another precodition then the next sentence has there is another {synonym}, the next precondition</li>
        <li class="item-rules">
          After the precondtion is the activity
        </li>
        <li class="item-rules">
          For each activity use simple present
        </li>
        <li class="item-rules">
          For the output of the system use simple future (will, shall)
        </li>
      </ol>
    </div>
  </div>
  <div class="output-user-story">
    <h5>User Stories :</h5>
    <div class="container-user-story">
      <a class="numof-container">{{counter}}</a>

      <div class="as-can-for">
        <div class="grid-as-can-for-1">
          <p>WHO</p>
          <span class="colon ms-3">:</span>
          <p>{{outputStoryIndex.who|join:", "}}</p>
        </div>
        <div class="grid-as-can-for">
          <p>WHAT</p>
          <span class="colon ms-2">:</span>
          <p>{{outputStoryIndex.what|join:", "}}</p>
        </div>
        <div class="grid-as-can-for-2">
          <p>WHY</p>
          <span class="colon ms-3">:</span>
          <p>{{outputStoryIndex.why|join:", "}}</p>
        </div>
      </div>
    </div>
    <form
      class="form"
      action="/update-output-scenario/{{counter}}"
      method="post"
    >
      {% csrf_token %}
      <div class="input-scenario">
        <h5>Input Title User Story Scenario</h5>
      </div>
      <input
        type="text"
        class="form-control"
        id="ScenarioTitle"
        name="ScenarioTitle"
        placeholder="Ketik scenario yang anda inginkan"
      />
      <div class="input-scenario"><h5>Input User Story Scenario :</h5></div>
      <div class="form-paragraf">
        <textarea
          type="text"
          class="form-control"
          id="inputParagraf"
          name="inputParagraf"
          placeholder="Ketik paragraf"
        ></textarea>
      </div>
      <div class="submit-button">
        <input
          id="generateButton"
          class="submit-button"
          type="submit"
          value="Update"
        />
      </div>
    </form>

    <div class="scenario-content" id="scenario-container">
      <div class="scenario">
        <h5>User Story Scenario :</h5>
        {% for data in retrieveUSS %} {% if 'given' in data %}
        <div class="container-scenario">
          <div class="type-scenario"><p>GIVEN</p></div>
          <div class="desc-scenario"><p>{{ data.given }}</p></div>
        </div>
        {% endif %} {% if 'when' in data %}
        <div class="container-scenario">
          <div class="type-scenario"><p>WHEN</p></div>
          <div class="desc-scenario"><p>{{ data.when }}</p></div>
        </div>
        {% endif %} {% if 'then' in data %}
        <div class="container-scenario">
          <div class="type-scenario"><p>THEN</p></div>
          <div class="desc-scenario"><p>{{ data.then }}</p></div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const storedScenarioTitle = localStorage.getItem("ScenarioTitle");
    const scenarioTitleInput = document.getElementById("ScenarioTitle");

    const storedParagrafValue = localStorage.getItem("paragrafValue");
    const paragrafInput = document.getElementById("inputParagraf");

    if (storedScenarioTitle) {
      scenarioTitleInput.value = storedScenarioTitle;
    }

    if (storedParagrafValue) {
      paragrafInput.value = storedParagrafValue;
    }
  });

    // Get the form
  const form = document.querySelector('form');

  
  // Function to handle form submission
  form.addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission
    
    // Get the title input field and its value
    const scenarioTitleInput = document.getElementById('ScenarioTitle');
    const scenarioTitleValue = scenarioTitleInput.value;
    
    // Get the paragraph input field and its value
    const paragrafInput = document.getElementById('inputParagraf');
    const paragrafValue = paragrafInput.value;

    // Store the scenario title and paragraph value in localStorage
    localStorage.setItem('ScenarioTitle', scenarioTitleValue);
    localStorage.setItem('paragrafValue', paragrafValue);

    // Now submit the form
    form.submit();
  });
</script>

{% endblock %}
