{% extends "base.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'client/user-scenario.css' %}" />

{% endblock %} {% block title %} Input User {% endblock %} {% block content %}
<div class="Gui-user">
  <h1 class="Teks-judul">Project Title</h1>
  <div class="output-user-story">
    <h5>User Stories :</h5>
    <div class="container-user-story">
      <a class="numof-container">{{counter}}</a>

      <div class="as-can-for">
        <div class="grid-as-can-for-1">
          <p>{{outputStoryIndex.who|join:", "}}</p>
        </div>
        <div class="grid-as-can-for">
          <p>{{outputStoryIndex.what|join:", "}}</p>
        </div>
        <div class="grid-as-can-for-2">
          <p>{{outputStoryIndex.why|join:", "}}</p>
        </div>
      </div>
    </div>
    <form class="form" action="/update-output-scenario/{{counter}}" method="post">
      {% csrf_token %}
      <div class="input-scenario">
        <h5>Input Title User Story Scenario :</h5>
      </div>
      <input
        type="text"
        class="form-control"
        id="ScenarioTitle"
        name="ScenarioTitle"
        placeholder="Ketik scenario yang anda inginkan"
      />
      <div class="input-scenario"><h5>Input User Story Scenario :</h5></div>
      <div class="form-paragraf">
        <textarea
          type="text"
          class="form-control"
          id="inputParagraf"
          name="inputParagraf"
          placeholder="Ketik paragraf"
        ></textarea>
      </div>
      <div class="submit-button">
        <input id="generateButton" class="submit-button" type="submit" value="Update">
      </div>
    </form>

    <div class="scenario-content" id="scenario-container">
      <div class="scenario">
        <h5>User Story Scenario :</h5>
        {% for data in retrieveUSS %} {% if 'given' in data %}
        <div class="container-scenario">
          <div class="type-scenario"><p>GIVEN</p></div>
          <div class="desc-scenario"><p>{{ data.given }}</p></div>
        </div>
        {% endif %} {% if 'when' in data %}
        <div class="container-scenario">
          <div class="type-scenario"><p>WHEN</p></div>
          <div class="desc-scenario"><p>{{ data.when }}</p></div>
        </div>
        {% endif %} {% if 'then' in data %}
        <div class="container-scenario">
          <div class="type-scenario"><p>THEN</p></div>
          <div class="desc-scenario"><p>{{ data.then }}</p></div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  const userStoryContainer = document.getElementById("scenario-container");
  const generateButton = document.querySelector(".btn-submit-button");

  generateButton.addEventListener("click", () => {
    userStoryContainer.classList.toggle("hidden");
  });
</script>

{% endblock %}
