{% extends "base_regist.html" %} {% block content %}
<div class="signup-container">
    <form action="/posteditprofile/" method="post" class="pb-3">
        {% csrf_token %}
        <h2 class="sign">Sign up</h2>
        <div class="form-group mb-2">
            <label class="form-label" for="name"><span>*Full Name<span></label>
            <div class="form-content mb-2">
                <div class="input-with-icon">
                    <input type="name" class="form rounded" name="name" id="name" placeholder="Full Name" required />
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <label class="form-label" for="email"><span>*Email<span></label>
            <div class="form-content mb-2">
                <div class="input-with-icon">
                    <input type="email" class="form rounded" name="email" id="email" placeholder="Email" required />
                </div>
            </div>
        </div>
        <div class="form-group mb-2">
            <label class="form-label" for="phone"><span>*Phone Number<span></label>
            <div class="form-content mb-2">
                <div class="input-with-icon">
                    <input type="tel" class="form rounded" name="phone" id="phone" placeholder="Phone Number"
                        required />
                </div>
            </div>
        </div>
        <input class="sign-up-button" type="submit" value="Edit">
    </form>
</div>
{%endblock%}
{% block script %}
<script>
    function showp() {
        var x = document.getElementById("password");
        var y = document.getElementById("hide1");
        var z = document.getElementById("hide2");
        if (x.type === "password") {
            x.type = "text";
            y.style.display = "none";
            z.style.display = "block";
        } else {
            x.type = "password";
            y.style.display = "block";
            z.style.display = "none";
        }
    }
</script>
{% endblock %}