{% extends "base.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'client/user-profile.css' %}" />

{% endblock %} {% block title %} Input User {% endblock %} {% block content %}

<!-- Main -->
<div class="main">
  <div class="profile-card">
    <div class="card-banner">
      <div class="card-profile"></div>
      <h3>{{ user.name }}</h3>
      <a mailto:example@email.com class="text-user">{{ user.email }}</a>
      <p class="text-user">{{ user.phone }}</p>
      <p class="text-user">72 Project Complished</p>
      <div class="submit-button">
        <button class="btn-submit-button" type="button">
          <a href=""> Edit Profile </a>
        </button>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
