{% extends "base_signin.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
{% endblock %} {% block content %}
<center>
  <div class="reset-container">
    <div class="row">
      <h1 class="title-reset">Reset Password</h1>
    </div>
    <div class="mb-3 par-reset">
      Enter your new password
    </div>

    <div class="send-container">
      <form action="">
        <label class="mb-1" for="">New Password</label>
        <div class="form-group mb-5">
          <input
            type="password"
            id="password"
            placeholder="Lorem@gmail.com"
            name="password"
            class="form-control rounded p-2"
            required
          />
        </div>
        <label class="mb-1" for="">Confirm Password</label>
        <div class="form-group mb-5">
          <input
            type="password"
            id="password"
            placeholder="Lorem@gmail.com"
            name="password"
            class="form-control rounded p-2"
            required
          />
        </div>
        <input class="reset-button" type="submit" value="Confirm" />
      </form>
    </div>
  </div>
</center>
{%endblock%}
