/* *{
    margin: 0;
    padding: 0;
} */

html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
    font-family: "Poppins"
}

header {
    background-color: #17193D;
    padding: 10px 15%;
}

header img {
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

header a {
    text-decoration: none;
    color: white;
    margin-right: 2.25rem;
    font-size: 25px;
}

header a:hover {
    color: #F29F05;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.profile {
    margin-left: 2.2;
}
