body {
  font-family: 'Poppins';
}
header {
  background-color: #b63942;
  padding: 10px 15%;
}
header img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}
header a {
  text-decoration: none;
  color: white;
  margin-right: 2.25rem;
  font-size: 25px;
}
main {
  padding: 150px 300px;
}
.item-red {
  background-color: #b63942;
  border: 2px black solid;
  padding: 5px 15px;
  color: white;
  border-radius: 7px;
}
.form-paragraf {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}
#inputParagraf {
  border-radius: 20px;
  width: 630px;
  border: solid;
  background-color: #f2fbee;
  height: 350px;
  padding: 15px;
}
.btn-submit-button {
  font-family: 'Poppins';
  background: #1d3557;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


