{% extends "base.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'client/input.css' %}" />
{% endblock %} {% block title %} Input User {% endblock %} {% block content %}
<div class="Gui-user">
  <h1 class="Teks-judul">User Stories</h1>
  <form class="form-inline" action="/postInputStory/" method="post">
    <div class="form">
      {% csrf_token %}
      <div class="form-group mb-2">
        <label for="ProjectTitle" class="sr-only">Project Title</label>
        <input
          type="text"
          class="form-control"
          id="ProjectTitle"
          name="ProjectTitle"
          placeholder="Ketik projek anda"
        />
      </div>

      <div class="form-paragraf">
        <textarea
          type="text"
          class="form-control"
          id="inputParagraf"
          name="inputParagraf"
          placeholder="Ketik paragraf"></textarea>
      </div>
      <div class="submit-button">
        <input id="generateButton" class="submit-button" type="submit" value="Generate">
      </div>
    </div>
  </form>

  <div class="output-user-story hidden" id="user-story-container">
    <h3>User Stories :</h3>
    <div class="container-user-story">
      <a class="numof-container" href="{% url 'client:output-scenario' %}">1</a>
      <div class="as-can-for">
        <div class="grid-as-can-for-1">
          <p>As Programmer</p>
        </div>
        <div class="grid-as-can-for">
          <p>I'm able to find my smartphone</p>
        </div>
        <div class="grid-as-can-for-2">
          <p>For my daily activity</p>
        </div>
      </div>
    </div>
    <div class="container-user-story">
      <a class="numof-container" href="{% url 'client:output-scenario' %}">2</a>
      <div class="as-can-for">
        <div class="grid-as-can-for-1">
          <p>As Programmer</p>
        </div>
        <div class="grid-as-can-for">
          <p>I'm able to find my smartphone</p>
        </div>
        <div class="grid-as-can-for-2">
          <p>For my daily activity</p>
        </div>
      </div>
    </div>
    <div class="container-user-story">
      <a class="numof-container" href="{% url 'client:output-scenario' %}">3</a>
      <div class="as-can-for">
        <div class="grid-as-can-for-1">
          <p>As Programmer</p>
        </div>
        <div class="grid-as-can-for">
          <p>I'm able to find my smartphone</p>
        </div>
        <div class="grid-as-can-for-2">
          <p>For my daily activity</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  const userStoryContainer = document.getElementById("user-story-container");
  const generateButton = document.getElementById("generateButton");

  generateButton.addEventListener("click", () => {
    userStoryContainer.classList.toggle("hidden");
  });
</script>

{% endblock %}
