{% extends "base.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'client/input.css' %}" />
{% endblock %} {% block title %} Input User {% endblock %} {% block content %}
<div class="Gui-user">
  <h1 class="Teks-judul">User Stories</h1>
  <form class="form-inline" action="/postInputStory/" method="post">
    <div class="form">
      {% csrf_token %}
      <div class="form-group mb-2">
        <label for="ProjectTitle" class="sr-only">Project Title</label>
        <input
          type="text"
          class="form-control"
          id="ProjectTitle"
          name="ProjectTitle"
          placeholder="Ketik projek anda"
        />
      </div>

      <div class="form-paragraf">
        <textarea
          type="text"
          class="form-control"
          id="inputParagraf"
          name="inputParagraf"
          placeholder="Ketik paragraf"></textarea>
      </div>
      <div class="submit-button">
        <input id="generateButton" class="submit-button" type="submit" value="Generate">
      </div>
    </div>
  </form>

</div>
{% endblock %} {% block script %}
<script>
  // Get the form
  const form = document.querySelector('form');

  // Function to handle form submission
  form.addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission
    
    // Get the title input field and its value
    const projectTitleInput = document.getElementById('ProjectTitle');
    const projectTitleValue = projectTitleInput.value;
    
    // Get the paragraph input field and its value
    const paragrafInput = document.getElementById('inputParagraf');
    const paragrafValue = paragrafInput.value;

    // Store the project title and paragraph value in localStorage
    localStorage.setItem('projectTitle', projectTitleValue);
    localStorage.setItem('paragrafValue', paragrafValue);

    // Now submit the form
    form.submit();
  });
</script>

{% endblock %}
